body{
    background-color: #0e0e0e	;
    color: #ffffff	;
}
#canvas{
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 50%;
    height: 50%;
    background-color: #1a1a1a	;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

